.nav {
    grid-area: n;
    background: linear-gradient(26.57deg, #6852ED 16.67%, #BA43FC 100%);
    box-shadow: 0px 0px 20px rgba(104, 82, 237, 0.8);
    border-radius: 10px;
    margin-top: 10px;
    margin-right: 10px;
    text-align: center;
  }

  .item {
    color: #fff;
  }

  .item > a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 33px;
  }

  