.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItem {
    padding: 15px;
}

.dialog {
    
}

.dialogsItem .active {
    color: gold;
}

.messages {
    padding: 15px;
}

.message {

}