.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 15px;
}

.dialog {
    
}

.dialogsItems .active {
    color: gold;
}

.messages {
    padding: 15px;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}